# Data Preperation

### import

In [3]:
import pandas as pd
from datetime import timedelta, datetime
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from env import user, password, host
import os

from acquire import wrangle_store_data
import warnings
warnings.filterwarnings("ignore")

# plotting defaults
plt.rc('figure', figsize=(13, 7))
plt.style.use('seaborn-whitegrid')
plt.rc('font', size=16)

* The end result of this exercise should be a file named prepare.py.

### Using your store items data:

In [ ]:
df = wrangle_store_data()
df.head(3)

In [ ]:
df.dtypes

In [ ]:
df.isnull().sum()

### 1. Convert date column to datetime format.

In [ ]:
# Reassign the sale_date column to be a datetime type
df.sale_date = pd.to_datetime(df.sale_date)

### 2. Plot the distribution of sale_amount and item_price.

In [ ]:
sns.histplot(df.sale_amount)

In [ ]:
sns.histplot(df.item_price)

### 3. Set the index to be the datetime variable.

In [ ]:
# Sort rows by the date and then set the index as that date
df = df.set_index("sale_date").sort_index()

In [ ]:
df.head(3)

### 4. Add a 'month' and 'day of week' column to your dataframe.

In [ ]:
df['month_name']=df.index.month_name()
df['day_of_week']= df.index.day_name()

In [ ]:
df.head(5)

In [ ]:
# other way to convert
df['month_name']=df.index.strftime('%B')

### 5. Add a column to your dataframe, sales_total, which is a derived from sale_amount (total items) and item_price.

In [ ]:
# multiply sales_amount and item_price
df['sale_amount']* df['item_price']

In [ ]:
# save multiplication into data frame as sales_total
df['sales_total']= df['sale_amount']* df['item_price']

In [ ]:
df

### 6.Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.

In [4]:
def datetime_type(df,date):
    ''' datetime_type takes in a dataframe and a ready date columne and reassigns the date to the datetime type
    returns df'''
    df[date] = pd.to_datetime(df[date])
    return df

In [5]:
df.head()

NameError: name 'df' is not defined

In [6]:
df = datetime_type(df,'sale_date')
df

NameError: name 'df' is not defined

In [ ]:
df.dtypes

In [7]:
def distribution( df, var):
    ''' distribution takes in a dataframe and variable and returns a histoplot 
    that  display the distirbution of the variable'''
    sns.histplot(df[var])
    plt.show();

In [ ]:
distribution(df,'sale_amount')

In [8]:
def set_date_to_index(df, date):
    ''' set_date_to_index takes in a dataframe and string date and set the index of data frame to the index
    returns altered data frame'''
    # Sort rows by the date and then set the index as that date
    df = df.set_index(date).sort_index()
    return df

In [ ]:
df= set_date_to_index(df,'sale_date')

In [ ]:
df

In [ ]:

str('month_name()').strip('()')

def add_date_column(df,'month_name()'):
    ''' add_date_column takes in a df:data frame and a time frame method run_method: defaulted to  month_name()
    and returns a dataframe wiht a new column,'''
    
    #name = str('month_name()').strip('()')
    df['name']=df.index[month_name()]
    
    return df

In [9]:
def add_date_column_string(df,column_name, string='%B'):
    ''' add_date_column takes in a df:data frame and a time frame method run_method: defaulted to %B  month_name()
    and returns a dataframe wiht a new column,'''

    df[column_name]=df.index.strftime(string)
    
    return df

In [ ]:
add_date_column_string(df,'day_name','%A')

In [10]:
def multiply_columns_addto_df(df, column_name, var1, var2):
    ''' multiply_columns_addto_df takes in a dataframe and multiplies two of its variables and sa
    returs'''
    df[column_name]= df[var1]* df[var2]
    return df

In [ ]:
df = multiply_columns_addto_df(df, 'sales_total','sale_amount','item_price')

In [ ]:
df

# German power data

* Using the OPS data acquired in the Acquire exercises opsd_germany_daily.csv, complete the following:

In [13]:
german = pd.read_csv("opsd_germany_daily.csv")

In [14]:
german.head(3)

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN

In [ ]:
german.dtypes

In [ ]:
german.isnull().sum()

### 1. Convert date column to datetime format.

In [ ]:
german = datetime_type(german,'Date')

In [ ]:
german

### 2. Plot the distribution of each of your variables.

In [ ]:
for col in list(german.columns.drop('Date')):
    plt.figure()
    sns.histplot(german[col])
    plt.title('Distribution of {}'.format(col))

### 3. Set the index to be the datetime variable.

In [ ]:
german = set_date_to_index(german, "Date")

In [ ]:
german

### 4. Add a month and a year column to your dataframe.

In [ ]:
german= add_date_column_string(df,'month_name', string='%B')

In [ ]:
german= add_date_column_string(df,'year', string='%Y')

In [ ]:
german

### 5. Fill any missing values.

In [ ]:
german.isnull().sum()

In [ ]:
german.fillna(0, inplace=True)
german.head()

### 6. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.

In [ ]:
def datetime_type(df,date):
    ''' datetime_type takes in a dataframe and a ready date columne and reassigns the date to the datetime type
    returns df'''
    df[date] = pd.to_datetime(df[date])
    return df

def distribution( df, var):
    ''' distribution takes in a dataframe and variable and returns a histoplot 
    that  display the distirbution of the variable'''
    sns.histplot(df[var])
    plt.show();


def set_date_to_index(df, date):
    ''' set_date_to_index takes in a dataframe and string date and set the index of data frame to the index
    returns altered data frame'''
    # Sort rows by the date and then set the index as that date
    df = df.set_index(date).sort_index()
    return df

def add_date_column_string(df,column_name, string='%B'):
    ''' add_date_column takes in a df:data frame and a time frame method run_method: defaulted to %B  month_name()
    and returns a dataframe wiht a new column,'''

    df[column_name]=df.index.strftime(string)
    
    return df

def multiply_columns_addto_df(df, column_name, var1, var2):
    ''' multiply_columns_addto_df takes in a dataframe and multiplies two of its variables and sa
    returs'''
    df[column_name]= df[var1]* df[var2]
    return df

In [23]:
def fillna(df):
    '''fill na takes in a dataframe and fill in the nans/nulls'''
    df.fillna(0, inplace=True)
    return df

In [ ]:
df =fillna(german)
df

In [24]:
def get_ops(ops):

    ops = datetime_type(german,'Date')
    ops = set_date_to_index(german, "Date")
    ops= add_date_column_string(ops,'day_name', string='%A')
    ops= add_date_column_string(ops,'month_name', string='%B')
    ops= add_date_column_string(ops,'year', string='%Y')
    fillna(ops)
    return ops

In [25]:
get_ops(german)

,Consumption,Wind,Solar,Wind+Solar,day_name,month_name,year
Date,,,,,,,
2006-01-01,1069.18400,0.000,0.000,0.000,Sunday,January,2006
2006-01-02,1380.52100,0.000,0.000,0.000,Monday,January,2006
2006-01-03,1442.53300,0.000,0.000,0.000,Tuesday,January,2006
2006-01-04,1457.21700,0.000,0.000,0.000,Wednesday,January,2006
2006-01-05,1477.13100,0.000,0.000,0.000,Thursday,January,2006
...,...,...,...,...,...,...,...
2017-12-27,1263.94091,394.507,16.530,411.037,Wednesday,December,2017
2017-12-28,1299.86398,506.424,14.162,520.586,Thursday,December,2017
2017-12-29,1295.08753,584.277,29.854,614.131,Friday,December,2017
2017-12-30,1215.44897,721.247,7.467,728.714,Saturday,December,2017
2017-12-31,1107.11488,721.176,19.980,741.156,Sunday,December,2017